 ti malakies einai autes?
<br>
<label>Msisdn</label>
<input id = "msisdn" type="text" name="msisdn" placeholder="msisdn" value="20111111110">
<br>
<label>Msg</label>
<input id = "msg" type="text" name="msg" placeholder="msg">
<br>
<label>Delay (sec)</label>
<input id = "delay" type="text" name="delay" placeholder="delay" value="10">
<br>
<label>Idle (min)</label>
<input id = "idle" type="text" name="idle" placeholder="idle" value="10">
<br>
<input id = "submit" type="submit" value="Submit">

<h4>User Data</h4>
<table id="user_data" class="cell-border" style="width:100%">
</table>
<hr>

<h4>Sms Incoming</h4>
<table id="sms_incoming" class="cell-border" style="width:100%">
</table>
<hr>

<h4>Sms Outgoing</h4>
<table id="sms_outgoing" class="cell-border" style="width:100%">
</table>
<hr>

<h4>Api Transactions</h4>
<table id="api_transactions" class="cell-border" style="width:100%">
</table>